In [5]:
import sys
sys.path.append('../Code')  # Adjusts path to import from Code folder

from data_loader import load_excel
from ipl_stats_calculator import get_total_runs, get_average_runs, get_total_centuries
from utils import clean_column_names
from visualization_helpers import plot_total_runs, plot_top_batsmen

import os

In [6]:
file_path = '../Data/Virat_Kohli_YearWise_with_IPL.xlsx'  # Replace with the exact file name

df = load_excel(file_path)

In [7]:
if df is not None:
    print("✅ Data Loaded Successfully!")
    print(df.head())
else:
    print("❌ Failed to load data. Check file name or path.")

✅ Data Loaded Successfully!
  Format  Year  Matches  Innings  Runs  Average HighestScore  Fifties  \
0   Test  2011        3        5   202     22.4           63        2
1   Test  2016       12       20  1215     75.0          200        5
2   Test  2019       15       25  1408     56.3         254*        6
3   Test  2023        6       10   550     55.0          120        2
4    ODI  2011       34       34  1381     47.6          117        8

   Centuries
0          0
1          3
2          5
3          1
4          4

In [8]:
df = clean_column_names(df)
df.head()

,Format,Year,Matches,Innings,Runs,Average,HighestScore,Fifties,Centuries
0,Test,2011,3,5,202,22.4,63,2,0
1,Test,2016,12,20,1215,75.0,200,5,3
2,Test,2019,15,25,1408,56.3,254*,6,5
3,Test,2023,6,10,550,55.0,120,2,1
4,ODI,2011,34,34,1381,47.6,117,8,4

In [9]:
print("Shape of Data:", df.shape)
print("\nColumns:\n", df.columns)
print("\nMissing Values:\n", df.isnull().sum())
print("\nData Types:\n", df.dtypes)

Shape of Data: (28, 9)

Columns:
 Index(['Format', 'Year', 'Matches', 'Innings', 'Runs', 'Average',
       'HighestScore', 'Fifties', 'Centuries'],
      dtype='object')

Missing Values:
 Format          0
Year            0
Matches         0
Innings         0
Runs            0
Average         0
HighestScore    0
Fifties         0
Centuries       0
dtype: int64

Data Types:
 Format           object
Year              int64
Matches           int64
Innings           int64
Runs              int64
Average         float64
HighestScore     object
Fifties           int64
Centuries         int64
dtype: object